<!DOCTYPE html>
<!-- App declaration -->
<html ng-app="MuseumApp">

<head>
    <title>Museum</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- AngularJS CDN, must come first before other scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
</head>

<!-- Controller declaration -->
<body>
    <div class="container">
        <h1>The Metropolitan Museum of Art</h1>
        <hr>

        <div ng-controller="ExhibitController as xzibit">
          <div class="exhibit-content">
            <h2>{{xzibit.title}}</h2>
            <div><img src="{{xzibit.img}}"></div>
            <p>{{xzibit.imgtitle}}</p>
            <p>{{xzibit.imgauthor}}</p>
          </div>
        </div>
        <hr>

        <div ng-controller="OperationsController as op">
          <div class="operations-content">
            <h2>{{op.title}}</h2>
            <h3>Hours:</h3>
            <ul>
              <li ng-repeat="hours in op.timings">
                <strong>{{hours.day}}: </strong><em>{{hours.timings}}</em>
              </li>
            </ul>
            <h3>Suggested Admission:</h3>
            <ul>
              <li ng-repeat="adtype in op.admissions">
                <strong>{{adtype.category}}: </strong><em>{{adtype.price}}</em>
              </li>
            </ul>
          </div>
        </div>
        <hr>

        <div ng-controller="DonorController as donor">
          <div class="donor-content">
          <h2>{{donor.title}}</h2>
          <h3>Contact:</h3>
          <p><a href="{{donor.info.email}}">{{donor.info.email}}</a> {{donor.info.phone}}</p>
          <h3>Donation Amounts:</h3>
            <ul>
              <li ng-repeat="value in donor.amounts track by $index">
                {{value}}
              </li>
            </ul>
          </div>
        </div>

    </div>

    <!-- Our Javascript files, app.js must be loaded first -->
    <script src="js/app.js"></script>
    <script src="js/controllers/ExhibitController.js"></script>
    <script src="js/controllers/OperationsController.js"></script>
    <script src="js/controllers/DonorController.js"></script>
</body>

</html>
